@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100; 0,200; 0,300; 0,400; 0,500; 0,600; 0,700; 0,800; 0,900; 1,100; 1,200; 1,300; 1,400; 1,500; 1,600; 1,700; 1,800; 1.900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

header {
    border-bottom: solid 2px #50c600;
}
  
nav {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    padding: 10px 2rem;
}

#ul_header {
    padding: 0;
    margin: 0;
    display: flex;
    gap: 2rem;
}

.li_header {
    display: inline;
}

.a_header {
    text-decoration: none;
    color: #50c600;
}

.nome {
    text-decoration: none;
    color: #50c600;
    font-size: 2.5rem;
    font-weight: bold;
}

form {
    margin: 5rem 30rem;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    border: #50c600 solid 4px;
    border-radius: 20px;
}

#titulo_form{
    color: #50c600;
}

.inputs_form {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 1rem;
    color: #50c600;
}

.button_form {
    border: 0;
    color: white;
    background-color: #50c600;
    padding: 7px;
    border-radius: 10px;
    cursor: pointer;
}

#section_contato {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.h2_enformações {
    padding-left: 4rem;
    color: #50c600;
}

.span_contato {
    margin: 0rem 10rem;
    display: flex;
    justify-content: space-between;
}

.div_contato {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
}

.itens_div_contato {
    margin: 0rem 1rem;
}

#footer {
    padding: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    background-color: #50c600;
}

#ul_footer {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.li_footer {
    color: white;
    font-size: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#copyright {
    display: flex;
    justify-content: center;
    color: white;
}