@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100; 0,200; 0,300; 0,400; 0,500; 0,600; 0,700; 0,800; 0,900; 1,100; 1,200; 1,300; 1,400; 1,500; 1,600; 1,700; 1,800; 1.900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

header {
    border-bottom: solid 2px #50c600;
}
  
nav {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    padding: 10px 2rem;
}

.nome {
    text-decoration: none;
    color: #50c600;
    font-size: 2.5rem;
    font-weight: bold;
}

#ul_header {
    padding: 0;
    margin: 0;
    display: flex;
    gap: 2rem;
}

.li_header {
    display: inline;
}

.a_header {
    text-decoration: none;
    color: #50c600;
}

main {
    padding: 2rem;
}

.contato {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    gap: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 60vh;
    width: 30vw;
    padding: 1rem;
    border: solid 8px #50c600;
    border-radius: 10px;
}

form h1 {
    font-size: 2rem;
    text-align: center;
    color: #50c600;
}

.informacoes_usuarios {
    max-width: 190px;
    height: 40px;
    padding: 10px;
    border: 2px solid #50c600;
    border-radius: 5px;
}

.informacoes_usuarios:focus {
    color: #50c600;
    outline-color: #50c600;
    box-shadow: -3px -3px 15px #50c600;
    transition: .1s;
    transition-property: box-shadow;
}

.span_informacoes {
    display: flex;
    flex-direction: column;
}

.span_sexo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.p_sexo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    color: #50c600;
}

.span_butoes {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.span_butoes button {
    padding: 7px;
    width: 10vw;
    border: none;
    border-radius: 5px;
    background-color: #50c600;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

.h2_informacoespet {
    font-size: 2rem;
    color: #50c600;

}

.p_informacoespet {
    font-size: 1rem;
    color: #50c600;
}

#footer {
    padding: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    background-color: #50c600;
    position: absolute;
    bottom: 0;
    width: 100vw;
}

#ul_footer {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.li_footer {
    color: white;
    font-size: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#copyright {
    display: flex;
    justify-content: center;
    color: white;
}